<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cap_Brand::brand" title="Brands" translate="title" module="Cap_Brand" sortOrder="999" parent="Magento_Backend::content_elements" action="cap_brand/brand" resource="Cap_Brand::brand"/>
    </menu>
</config>
