<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cap_Brand::list" title="Brands" translate="title" module="Cap_Brand" parent="Magento_Backend::content_elements"
             sortOrder="900" dependsOnModule="Cap_Brand" action="cap_brand/brand" resource="Cap_Brand::list"/>
        <add id="Cap_Brand::products" title="Products" translate="title" module="Cap_Brand" parent="Magento_Backend::content_elements"
             sortOrder="910" dependsOnModule="Cap_Brand" action="cap_brand/category/linkproducts" resource="Cap_Brand::products"/>
    </menu>
</config>
